*.zip
*.pth


imgdata/*
!imgdata/.keep

savedmodel/
train.record
test.record
x/
*.tgz
*.tar.gz
model_faster_rcnn_resnet152_1024/
inference_graph/
vision/
ir4/
vol/nginx/certs/
certs/

.ipynb_checkpoints/
